services:
  homeassistant:
    container_name: homeassistant
    restart: unless-stopped
    image: ghcr.io/home-assistant/home-assistant:2025.9.4@sha256:89ec0583c7f47c8a150204f6b5ed48b5432026012bebe1226cf72775a795a5e1
    volumes:
      - homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=${TZ}
    network_mode: host
    privileged: true

  emqx:
    image: emqx/emqx:6.0@sha256:8426e9b5a1fd7717fa9aaf5bb0ec53e68b5318ecab8d494e4ef720aa7bbfbe7a
    restart: always
    environment:
      EMQX_NAME: hass_emqx
      EMQX_HOST: 127.0.0.1
    ports:
      - 1883:1883
      - 18083:18083
    volumes:
      - vol-emqx-data:/opt/emqx/data
      - vol-emqx-etc:/opt/emqx/etc
      - vol-emqx-log:/opt/emqx/log

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.6.2@sha256:ffabf256f4550175278fbeebdbc3f174f2ffa005175e755324c5f06020af3e68
    restart: unless-stopped
    volumes:
      - zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    ports:
        - 8080:8080
    environment:
      - TZ=${TZ}
    devices:
      - ${ZIGBEE_DEV_PATH}:/dev/ttyACM0

  zwave-js-ui:
    container_name: zwave-js-ui
    image: zwavejs/zwave-js-ui:11.3.1@sha256:0191a3fb96ff88cbc4c7f12e28a10de118def0ea343c39ddc6ce046b6ef78503
    restart: always
    tty: true
    stop_signal: SIGINT
    environment:
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
      - TZ=${TZ}
    devices:
      - ${ZWAVE_DEV_PATH}:/dev/zwave
    volumes:
      - zwavejsui:/usr/src/app/store
    ports:
      - '8091:8091' # port for web interface
      - '3000:3000' # port for Z-Wave JS websocket server

  coder:
    container_name: code-server
    image: linuxserver/code-server:4.104.2@sha256:f0f4cc06a8c642e61299fe57b01fe2d5ded3934e923aba7456770e70a3c8cf97
    restart: always
    volumes:
      - code-server:/config
      - homeassistant:/workspace
    environment:
      - DEFAULT_WORKSPACE=/workspace
      - PUID=0
      - PGID=0
      - UMASK=022
    ports:
      - 8443:8443

  # mealie:
  #   image: ghcr.io/mealie-recipes/mealie:v2.8.0@sha256:63aef46d90975d9cf9c0fdb9399fc2fe36acd222e1db6be99c504b9ccdbee967
  #   container_name: mealie
  #   restart: always
  #   ports:
  #       - "9925:9000"
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 1000M
  #   volumes:
  #     - mealie:/app/data/
  #   environment:
  #     # Set Backend ENV Variables Here
  #     ALLOW_SIGNUP: "false"
  #     PUID: 1000
  #     PGID: 1000
  #     TZ: ${TZ}
  #     BASE_URL: https://${MEALIE_DOMAIN}

volumes:
  homeassistant:
  zigbee2mqtt:
  zwavejsui:
  code-server:
  mealie:
  vol-emqx-data:
  vol-emqx-etc:
  vol-emqx-log: