services:
  homeassistant:
    container_name: homeassistant
    restart: unless-stopped
    image: ghcr.io/home-assistant/home-assistant:2025.5.3@sha256:8a99004ff832dbd535e6ac4d141042bc31141ff6a86b4d5bb288b3680fbceac1
    volumes:
      - homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=${TZ}
    network_mode: host
    privileged: true

  emqx:
    image: emqx/emqx:5.9@sha256:c897388a3c628b684c064459a14c71b259317b044be02a586eaaab14916d755c
    restart: always
    environment:
      EMQX_NAME: hass_emqx
      EMQX_HOST: 127.0.0.1
    ports:
      - 1883:1883
      - 18083:18083
    volumes:
      - vol-emqx-data:/opt/emqx/data
      - vol-emqx-etc:/opt/emqx/etc
      - vol-emqx-log:/opt/emqx/log

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.3.0@sha256:42de8c55dc578a8404a18c43aeb2b7c75be7988179abe9a8195d99a9e7ebb917
    restart: unless-stopped
    volumes:
      - zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    ports:
        - 8080:8080
    environment:
      - TZ=${TZ}
    devices:
      - ${ZIGBEE_DEV_PATH}:/dev/ttyACM0

  zwave-js-ui:
    container_name: zwave-js-ui
    image: zwavejs/zwave-js-ui:10.5.1@sha256:21d325dd5ffae1b4e57dbfa3538e34f697c9f18c11ca87491035e8757e85ebbb
    restart: always
    tty: true
    stop_signal: SIGINT
    environment:
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
      - TZ=${TZ}
    devices:
      - ${ZWAVE_DEV_PATH}:/dev/zwave
    volumes:
      - zwavejsui:/usr/src/app/store
    ports:
      - '8091:8091' # port for web interface
      - '3000:3000' # port for Z-Wave JS websocket server

  coder:
    container_name: code-server
    image: linuxserver/code-server:4.100.2@sha256:23fbadee99aed3400b725f8b202306b5e7178ded297cbd1db049b8537229a145
    restart: always
    volumes:
      - code-server:/config
      - homeassistant:/workspace
    environment:
      - DEFAULT_WORKSPACE=/workspace
      - PUID=0
      - PGID=0
      - UMASK=022
    ports:
      - 8443:8443

  # mealie:
  #   image: ghcr.io/mealie-recipes/mealie:v2.8.0@sha256:63aef46d90975d9cf9c0fdb9399fc2fe36acd222e1db6be99c504b9ccdbee967
  #   container_name: mealie
  #   restart: always
  #   ports:
  #       - "9925:9000"
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 1000M
  #   volumes:
  #     - mealie:/app/data/
  #   environment:
  #     # Set Backend ENV Variables Here
  #     ALLOW_SIGNUP: "false"
  #     PUID: 1000
  #     PGID: 1000
  #     TZ: ${TZ}
  #     BASE_URL: https://${MEALIE_DOMAIN}

volumes:
  homeassistant:
  zigbee2mqtt:
  zwavejsui:
  code-server:
  mealie:
  vol-emqx-data:
  vol-emqx-etc:
  vol-emqx-log: