services:
  homeassistant:
    container_name: homeassistant
    restart: unless-stopped
    image: ghcr.io/home-assistant/home-assistant:2025.1.0@sha256:7db850eff6b858b6d01860cd76a10d993861f9bff140de85734ce01d153a62ca
    volumes:
      - homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=${TZ}
    network_mode: host
    privileged: true

  mosquitto:
    container_name: mosquitto
    restart: always
    image: eclipse-mosquitto:2.0.20@sha256:deae95623b9d5c6ca5e264380629db53b992106d436b56d42f7c8df46b41b96f
    ports:
      - 1883:1883
    volumes:
      - /opt/stack-data/home-stack/mosquitto:/etc/mosquitto
      - /opt/stack-data/home-stack/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt:2.0.0@sha256:6105a3a01a66bbfb98909a7c309d0707ec7b41728ac15d399747077225231545
    restart: unless-stopped
    volumes:
      - zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    ports:
        - 8080:8080
    environment:
      - TZ=${TZ}
    devices:
      - ${ZIGBEE_DEV_PATH}:/dev/ttyACM0

  zwave-js-ui:
    container_name: zwave-js-ui
    image: zwavejs/zwave-js-ui:9.29.0@sha256:458e614feea64bbc422081e26e32d46f44edf5ce45f4eefab39a1efe46813ba3
    restart: always
    tty: true
    stop_signal: SIGINT
    environment:
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
      - TZ=${TZ}
    devices:
      - ${ZWAVE_DEV_PATH}:/dev/zwave
    volumes:
      - zwavejsui:/usr/src/app/store
    ports:
      - '8091:8091' # port for web interface
      - '3000:3000' # port for Z-Wave JS websocket server

  coder:
    container_name: code-server
    image: linuxserver/code-server:4.96.2@sha256:f7194b01387bc732570341e010b3984ee2561180061c4092652685c45a013d44
    restart: always
    volumes:
      - code-server:/config
      - homeassistant:/workspace
    environment:
      - DEFAULT_WORKSPACE=/workspace
      - PUID=0
      - PGID=0
      - UMASK=022
    ports:
      - 8443:8443

  mealie:
    image: ghcr.io/mealie-recipes/mealie:v2.4.2@sha256:4c97581d31546fc5cbfeacf00a8fa5f866d0b48cd1a2cd4441e48afe260b317c
    container_name: mealie
    restart: always
    ports:
        - "9925:9000"
    deploy:
      resources:
        limits:
          memory: 1000M
    volumes:
      - mealie:/app/data/
    environment:
      # Set Backend ENV Variables Here
      ALLOW_SIGNUP: "false"
      PUID: 1000
      PGID: 1000
      TZ: ${TZ}
      BASE_URL: https://${MEALIE_DOMAIN}

volumes:
  homeassistant:
  zigbee2mqtt:
  zwavejsui:
  code-server:
  mealie: