services:
  victoriametrics:
    container_name: victoriametrics
    image: victoriametrics/victoria-metrics:v1.128.0@sha256:c27e736a8aff888cf30c4f20ec648b767358694993d87e89afc6bf80f28991da
    # ports:
    #   - 8428:8428
    #   - 8089:8089
    #   - 8089:8089/udp
    #   - 2003:2003
    #   - 2003:2003/udp
    #   - 4242:4242
    volumes:
      - vmdata:/storage
      - vmconfig:/etc/prometheus
    command:
      - "--promscrape.config=/etc/prometheus/prometheus.yml"
      - "-retentionPeriod=2y"
    restart: always

  # Grafana instance configured with VictoriaMetrics as datasource
  grafana:
    container_name: grafana
    image: grafana/grafana:12.2.1@sha256:35c41e0fd0295f5d0ee5db7e780cf33506abfaf47686196f825364889dee878b
    ports:
      - 3001:3000
    volumes:
      - grafanadata:/var/lib/grafana
    environment:
      - GF_AUTH_PROXY_ENABLED=true
      - GF_AUTH_PROXY_HEADER_NAME=X-WEBAUTH-USER
      - GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s:%(http_port)s/api/ingress/grafana/
      - GF_SECURITY_ALLOW_EMBEDDING=true
    restart: always

volumes:
  vmdata:
  vmconfig:
  grafanadata:
